.leaflet-control-zoom .leaflet-bar .leaflet-control a{
    background-color: #333333 !important;
    color: white !important;
}

.dark .leaflet-popup-content-wrapper ,
.dark .leaflet-popup-tip {
    background-color: #292929;
    color: white;
}